# MATCH
**/*cache*
**/*debug*
**/*report*
**/*log*
**/*tool*
**/*venv*
**/.*
!.gitignore

# ASSIGN
env-files
build

# OTHER
**/*.py[cod]
**/*.so
**/*.egg
**/*.egg-info
**/*.code-workspace
**/*.bak

# NACOS
**/nacos-data